{
  "Taproom": {
    "PollIntervalSeconds": 30,
    "Omada": {
      "BaseUrl": "https://10.0.1.10:8043",
      "ClientId": "...",
      "ClientSecret": "...",
      "SiteName": "Default",
      "AllowInvalidCertificate": true
    },
    "Opnsense": {
      "BaseUrl": "https://10.0.1.1",
      "ApiKey": "...",
      "ApiSecret": "...",
      "AllowInvalidCertificate": true,
      "DhcpProvider": "Dnsmasq"
    }
  }
}
